# Lending Club Case Study
--------------------------
## Business Objective:
- Analyze the past customer data which defaulted the loan
- Identify the variables/columns which contributed to loan defaulters
- Conclude the analysis by providing the recommendations
    - i.e. Avoid/reduce lending loan to customers falling into above variables categories

------------------------

## Approach to solve the Problem
#### Data Sourcing
- Data is already provided for this study.
#### Data Understanding
- Identify and Report data quality issue
- Interpret the variable value and write in comment
#### Data Cleaning
- Fixing Rows & Columns
    - Delete summary/extra rows
    - Delete unidentified/null columns
- Fill missing values
- Convert incorrect data type
- Filtering
    - Delete columns that are irrevelant

### Univariate Analysis
Approach: Analyze single variable using:
- Summary Statistics
- Histograms
- Box plots
  - Remove outliers
- Density plot

### Segmented Univariate Analysis
Approach:
- Analyze single variable using:
    - Summary Statistics
    - Histograms
    - Box plots
        - Remove outliers
    - Density plot
 
### bivariate Analysis
Approach:
- Analyze single variable using:
    - Scatter plots
    - Correlation coefficient
    - Line plots

##### Import Libraries

In [211]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.options.display.max_columns=None
pd.options.display.max_rows=None

##### Import the lending club data

In [212]:
# Load the data with low memory to avoid multiple data type error
data = pd.read_csv('loan.csv', low_memory=False)

In [213]:
data.head(1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.0,0.0,5863.155187,5833.84,5000.0,863.16,0.0,0.0,0.0,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [214]:
data.shape

(39717, 111)

## Data Understanding

Yet to be filled

## Data Cleaning and Manipulation

In [215]:
# Check the columns with NULL values
data.isna().sum().sort_values()

id                                    0
earliest_cr_line                      0
inq_last_6mths                        0
open_acc                              0
pub_rec                               0
revol_bal                             0
total_acc                             0
initial_list_status                   0
out_prncp                             0
out_prncp_inv                         0
delinq_2yrs                           0
total_pymnt                           0
total_rec_int                         0
total_rec_late_fee                    0
recoveries                            0
collection_recovery_fee               0
last_pymnt_amnt                       0
policy_code                           0
application_type                      0
acc_now_delinq                        0
delinq_amnt                           0
total_pymnt_inv                       0
dti                                   0
total_rec_prncp                       0
zip_code                              0
member_id                             0
loan_amnt                             0
addr_state                            0
funded_amnt_inv                       0
term                                  0
int_rate                              0
installment                           0
grade                                 0
sub_grade                             0
home_ownership                        0
annual_inc                            0
funded_amnt                           0
issue_d                               0
purpose                               0
verification_status                   0
loan_status                           0
pymnt_plan                            0
url                                   0
last_credit_pull_d                    2
title                                11
tax_liens                            39
revol_util                           50
collections_12_mths_ex_med           56
chargeoff_within_12_mths             56
last_pymnt_d                         71
pub_rec_bankruptcies                697
emp_length                         1075
emp_title                          2459
desc                              12942
mths_since_last_delinq            25682
mths_since_last_record            36931
next_pymnt_d                      38577
num_bc_sats                       39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
mort_acc                          39717
num_bc_tl                         39717
num_tl_op_past_12m                39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
mo_sin_rcnt_tl                    39717
num_il_tl                         39717
mo_sin_rcnt_rev_tl_op             39717
verification_status_joint         39717
mo_sin_old_il_acct                39717
mths_since_last_major_derog       39717
annual_inc_joint                  39717
dti_joint                         39717
total_bc_limit                    39717
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
mo_sin_old_rev_tl_op              39717
total_il_high_credit_limit        39717
dtype: int64

In [216]:
# Remove the columns with NULL values
data.dropna(axis = 1, how = 'all', inplace = True)

In [217]:
# Removing columns which lot of NULL values and filling the missing values will not help
data.drop(['next_pymnt_d', 'mths_since_last_record', 'mths_since_last_delinq', 'desc'], axis = 1, inplace = True)

In [218]:
data.shape

(39717, 53)

In [219]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [220]:
# Analyze column further to check the column data variability
# Since constant values columns will not br helpful in our analysis
data.nunique().sort_values().head(20)

tax_liens                      1
delinq_amnt                    1
chargeoff_within_12_mths       1
acc_now_delinq                 1
application_type               1
policy_code                    1
collections_12_mths_ex_med     1
initial_list_status            1
pymnt_plan                     1
term                           2
pub_rec_bankruptcies           3
verification_status            3
loan_status                    3
pub_rec                        5
home_ownership                 5
grade                          7
inq_last_6mths                 9
delinq_2yrs                   11
emp_length                    11
purpose                       14
dtype: int64

In [221]:
# Seems there are constant value columns and these columns type are not adding values into our analysis.
# Removing these columns
data.drop(['tax_liens', 'delinq_amnt', 'chargeoff_within_12_mths', 'acc_now_delinq', 'application_type', 'policy_code', 'collections_12_mths_ex_med', 'pymnt_plan', 'initial_list_status'], axis = 1, inplace = True)

In [222]:
data.shape

(39717, 44)

In [223]:
data.columns.to_list()

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'url',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'last_credit_pull_d',
 'pub_rec_bankruptcies']

### Analyzing these 44 columns in the provided "Data Dictionary sheet" to understand if we can further drop more columns to reduce the data frame size
Found that following columns can also be dropped as they are mostly Descriptive, Dealing with Payments, Fees, Recoveries and Bankruptcy and don't play important role in the problem we are solving.
- Borrowers Personal Details related columns: `emp_title, title`
- Site URL: `url`
- Outstanding principal: `out_prncp, out_prncp_inv`
- Payment/Fees Received related columns: `total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee`
- Recoveries and last payment received related columns: `recoveries, collection_recovery_fee`
- Last/Next Payment received date/amount: `last_pymnt_d, last_pymnt_amnt, last_credit_pull_d`
- Bankruptcy Records: `pub_rec_bankruptcies`

In [224]:
data.drop(['emp_title', 'title',
           'url',
           'out_prncp','out_prncp_inv',
           'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
           'recoveries', 'collection_recovery_fee',
           'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
           'pub_rec_bankruptcies'
          ], axis=1, inplace=True
         )

In [225]:
data.shape

(39717, 28)

In [226]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,small_business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,1 year,RENT,80000.0,Source Verified,Dec-11,Current,other,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38

## Fill Missing values
### Approach
- For Continuous data - Median/Mode/Mean whichever is appropriate
- For Categorical data - Use frequency to fill most frequent value

In [227]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   39717 non-null  int64
 1   member_id            39717 non-null  int64
 2   loan_amnt            39717 non-null  int64
 3   funded_amnt          39717 non-null  int64
 4   funded_amnt_inv      39717 non-null  float64
 5   term                 39717 non-null  object
 6   int_rate             39717 non-null  object
 7   installment          39717 non-null  float64
 8   grade                39717 non-null  object
 9   sub_grade            39717 non-null  object
 10  emp_length           38642 non-null  object
 11  home_ownership       39717 non-null  object
 12  annual_inc           39717 non-null  float64
 13  verification_status  39717 non-null  object
 14  issue_d              39717 non-null  object
 15  loan_status          39717 non-null  object
 16  purpose              39717 non-null  object
 17  zip_code             39717 non-null  object
 18  addr_state           39717 non-null  object
 19  dti                  39717 non-null  float64
 20  delinq_2yrs          39717 non-null  int64
 21  earliest_cr_line     39717 non-null  object
 22  inq_last_6mths       39717 non-null  int64
 23  open_acc             39717 non-null  int64
 24  pub_rec              39717 non-null  int64
 25  revol_bal            39717 non-null  int64
 26  revol_util           39667 non-null  object
 27  total_acc            39717 non-null  int64
dtypes: float64(4), int64(10), object(14)
memory usage: 8.5+ MB

##### As we can see from the above output, the following column rows needs to be filled or dropped
- Rows to be filled for: __emp_length__
- Rows to be dropped for: __revol_util, total_acc__

In [228]:
data.emp_length.value_counts()

emp_length
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: count, dtype: int64

In [229]:
data.emp_length.mode()

0    10+ years
Name: emp_length, dtype: object

In [231]:
print(data.emp_length.index)
print(len(data.emp_length))
print(data.emp_length.isna().sum())

RangeIndex(start=0, stop=39717, step=1)
39717
1075

In [232]:
mode_value = data.emp_length.mode()[0]
data.emp_length.fillna(mode_value, inplace=True)

In [251]:
data['emp_length'].isna().sum()

0

In [237]:
data.dropna(axis = 0, subset=['revol_util', 'total_acc'], inplace=True)

In [239]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39667 entries, 0 to 39716
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   39667 non-null  int64
 1   member_id            39667 non-null  int64
 2   loan_amnt            39667 non-null  int64
 3   funded_amnt          39667 non-null  int64
 4   funded_amnt_inv      39667 non-null  float64
 5   term                 39667 non-null  object
 6   int_rate             39667 non-null  object
 7   installment          39667 non-null  float64
 8   grade                39667 non-null  object
 9   sub_grade            39667 non-null  object
 10  emp_length           39667 non-null  object
 11  home_ownership       39667 non-null  object
 12  annual_inc           39667 non-null  float64
 13  verification_status  39667 non-null  object
 14  issue_d              39667 non-null  object
 15  loan_status          39667 non-null  object
 16  purpose              39667 non-null  object
 17  zip_code             39667 non-null  object
 18  addr_state           39667 non-null  object
 19  dti                  39667 non-null  float64
 20  delinq_2yrs          39667 non-null  int64
 21  earliest_cr_line     39667 non-null  object
 22  inq_last_6mths       39667 non-null  int64
 23  open_acc             39667 non-null  int64
 24  pub_rec              39667 non-null  int64
 25  revol_bal            39667 non-null  int64
 26  revol_util           39667 non-null  object
 27  total_acc            39667 non-null  int64
dtypes: float64(4), int64(10), object(14)
memory usage: 8.8+ MB

### Standardizing values
Approach:
- Fixing unwanted characters/spaces in the variable value, if any
- Data type conversion

Check & Fix column - `term`

In [249]:
data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [252]:
## Removing unwanted spaces from term variable
data['term'] = data['term'].str.strip()

Check & Fix column - `int_rate`

In [289]:
data['int_rate'].unique()

In [302]:
## int_rate have % character. Removing it.
## It can also be converted into floating point integer
data['int_rate'] = data['int_rate'].str.strip('%').astype(float)

Check & Fix column - `revol_util`

In [299]:
data['revol_util'].unique()

array(['83.70', '9.40', '98.50', ..., '49.63', '0.04', '7.28'],
      dtype=object)

In [303]:
## revol_util have % character. Removing it.
## It can also be converted into floating point integer
data['revol_util'] = data['revol_util'].str.strip('%').astype(float)

Check & Fix column - `grade`, `sub_grade`, `emp_length`, `home_ownership`, `verification_status`, `loan_status`, `purpose`, `zip_code`, `addr_state`

No changes are required in any of the mentioned column here. Please see below. <br>
NOTE: `emp_length` column have characters like `+` and `<` which we can't replace with exact value

In [305]:
## No changes are required for any of the following column
data['grade'].unique()
data['sub_grade'].unique()
data['emp_length'].unique()
data['home_ownership'].unique()
data['verification_status'].unique()
data['loan_status'].unique()
data['purpose'].unique()
data['zip_code'].unique()
data['addr_state'].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

Check & Fix column - `issue_d` and `earliest_cr_line`

NOTE:
- These are date-year value column. We can convert them to datetime format
- Later, we can also Derive columns from it.

In [310]:
data['issue_d'].unique()

# data['earliest_cr_line'].unique()

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07'], dtype=object)

In [311]:
## Convert to Date time datatype
data['issue_d'] = pd.to_datetime(data['issue_d'], format='%b-%y', errors='coerce')
data['earliest_cr_line'] = pd.to_datetime(data['earliest_cr_line'], format='%b-%y', errors='coerce')

In [337]:
## Display value post conversion
data['issue_d'].describe()
data['earliest_cr_line'].describe()

### Calculate Derived Metrics
Approach:
Derive Year and month from `issue_d` and `earliest_cr_line` columns

In [346]:
## Type Driven variable are created from issue_d and earliest_cr_line columns
data['issue_d_month'] = data['issue_d'].dt.month
data['issue_d_year'] = data['issue_d'].dt.year
data['earliest_cr_line_month'] = data['earliest_cr_line'].dt.month
data['earliest_cr_line_year'] = data['earliest_cr_line'].dt.year

### Univariate Analysis
Approach: Analyze single variable using:
- Summary Statistics
- Histograms
- Box plots
  - Remove outliers
- Density plot

### Segmented Univariate Analysis
Approach:
- Analyze single variable using:
    - Summary Statistics
    - Histograms
    - Box plots
        - Remove outliers
    - Density plot

### bivariate Analysis
Approach:
- Analyze single variable using:
    - Scatter plots
    - Correlation coefficient
    - Line plots